streamlit
plotly
pyvis
opencv-python
imagehash
pillow
google-api-python-client
networkx
matplotlib
numpy
requests
scikit-image
scikit-learn
reportlab
pandas
librosa
torch
transformers
git+https://github.com/openai/CLIP.git